__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
Week*
Week*_cu
*.wav
*.mp3
*.mp4
errors
logs
.checkpoints
*.tmp
.git
.gitignore
test_evaluation_30
scratch
asr_export
SaydiTool_Core_Crawler.zip
code_upload_staging